/dist/
/programs/brotli/
/programs/lizard/
/programs/lz4/
/programs/lz5/
/programs/lzfse/
/programs/snappy/
/programs/zstd/
/programs/*-mt
/programs/*-mt.exe
/programs/un*-mt
/programs/un*-mt.exe
/programs/*cat-mt
/programs/*cat-mt.exe
